<ul>
    <li>Studium an der Universität Rostock seit 2018</li>
    <li>seit 2022: LL.B. Good Governance Wirtschaft, Gesellschaft, Recht</li>
    <li>Stipendiat des Evangelischen Studienwerks Villigst</li>
    <li>Co-Sprecher des Fachschaftsrates Jura</li>
    <li>Mitglied im Fakultätsrat der Juristischen Fakultät</li>
    <li>Studentische Hilfskraft an den Lehrstühlen für <a href="https://www.juf.uni-rostock.de/professuren/pfad/professuren/prof-dr-anja-ursula-hucke/">Bürgerliches Recht, Handels- und Gesellschaftsrecht, Deutsches und Europäisches Wirtschafts- und Unternehmensrecht (Prof. Hucke)</a> und <a href="https://www.juf.uni-rostock.de/professuren/pfad/professuren/prof-dr-sebastian-schwamberger/">Bürgerliches Recht, Wirtschaftsrecht und Recht der Digitalisierung (Jun.-Prof. Schwamberger)</a></li>
    <li>Mitglied und jugendpolitischer Sprecher im Kreisvorstand <a href="https://dielinke-rostock.de/">DIE LINKE. Hansestadt Rostock</a></li>
</ul>